{% load static %}
<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <html lang="en">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>Sign Up</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <form method="POST">
    <h2 class="text-center fw-bold">Add User</h2>
    {% csrf_token %}
    <input type="text" class="form-control mt-3" placeholder="Username" name="username" autocomplete="off" required>
    <input type="text" class="form-control mt-3" placeholder="Email" name="email" autocomplete="off" required >
    <input type="password" class="form-control mt-3" placeholder="Password" name="password1" required>
  
    <div class=" gap-2 mt-4 justify-content-center d-flex">
      <button type="submit" class="btn btn-primary m-4 w-25">Add</button>
      <button class="btn btn-primary m-4 w-25" ><a href="{% url 'tablepage' %}" class="text-decoration-none text-light">Back</a></button>
    </div>
  </form>
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show  m-4" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
   
    <div>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>